.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    margin: 4%;
}

.list a {
    color: #1710C3;
    text-align: center;
    text-decoration: none;
}

.list a:hover {
        color: #006F62;
        text-decoration: underline;
}

img {
    background-color: #006F62;
    border: 8px solid #006F62;
    border-radius: 30px;
    float: left;
    height: 200px;
    margin: 5px;
    position: relative;
    width: 200px;
    }
    
    .article {
      display: flex;
      flex-direction: column;
          }
    
    .list {
      display: block;
      margin: 20px;
    }
