body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}
header {
  background: #005f73;
  color: white;
  padding: 2em;
  text-align: center;
}
nav a {
  color: #ffffff;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: #1abc9c; 
  color: #ffffff; 
  border-radius: 4px;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px 8px;
  border-radius: 2px;

  position: absolute;
  z-index: 1;
  bottom: 120%; /* Adjust position above the name */
  left: 50%;
  transform: translateX(-50%);
  
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
a {
  color: #1abc9c;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #16a085;
  text-decoration: underline;
}
main {
  padding: 2em;
}
footer {
  background: #eee;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  margin-top: 2em;
}
